body {
    margin:0;
    padding:0;
    font-family: arial,sans-serif;
}
ul {
    list-style: none;
    float: right;
}
li {
    display: inline-block;
    padding-left: 15px;
    margin-right: 15px;
}
.navigationBar {
    height: 75px;
    width: 100%;
    font-size: 16px;
}
.navigationBar a {
    text-decoration: none;
    color: black;
}
.navigationBar button {
    background-color: #4484F1;
    color: white;
    padding: 8px;
    height: 30px;
    width: 75px;
    font-weight: bold;
    border: none;
    border-radius: 7%;
}
main {
    width: 100%;
    height: 500px;
}
.logo {
    margin-top: 125px;
}
.bar {
    margin-top: 30px;
    width: 530px;
    border-radius: 30px;
    border: 1px solid #90908F;
}
.bar:hover {
    box-shadow: 1px 1px 3px 1px #90908F;
}

.mGlass {
    width: 5%;
    height: 5%;
    position: relative;
    float: left;
    top: 6px;
    left: 10px;
}

.searchBar {
    height: 35px;
    width: 450px;
    border: none;
    font-size: 18px;
    outline: none;
    
}
.searchButtons button {
    border: none;
    border-radius: 5%;
    background-color: #F8F9FA;
    margin-top: 15px;
    margin-left: 15px;
    padding: 15px;
    font-size: 15px;
}
.searchButtons button:hover{
    box-shadow: 0px 0px 3px #B8B8B8;
}
footer {
    background-color: #F2F2F2;
    width: 100%;
    border-top: 1px solid #DADCE0;
    position:fixed;
    bottom:0;
}
footer ul li a {
    text-decoration: none;
    color: #70757A;
}
footer li:hover {
    text-decoration: underline;
}
.footerLeft {
    float: left;
}
.footerRight {
    float: right;
    margin-right: 50px;
}
